.card .text {
  .damage {
    &.thunder {
      color: #673c8a;
    }
    &.acid {
      color: #bbc00d;
    }
    &.fire {
      color: #cf5605;
    }
    &.psychic {
      color: #b482a5;
    }
    &.lightning {
      color: #3d6dc1;
    }
    &.poison {
      color: #a6c505;
    }
    &.frost {
      color: #65abb1;
    }
    &.force {
      color: #9e1c20;
    }
    &.radiant {
      color: #b98c07;
    }
    &.necrotic {
      color: #7eb461;
    }
    &.slashing,
    &.piercing,
    &.bludgeoning {
      color: #7a7877;
    }
  }
  .advantage {
    color: #45a04b;
  }
  .disadvantage,
  .disadvantage * {
    color: #ef8686;
  }

  .ability {
    &.strength {
      color: red;
    }
    &.dexterity {
      color: green;
    }
    &.constitution {
      color: orange;
    }
    &.intelligence {
      color: blue;
    }
    &.wisdom {
      color: #b0b015;
    }
    &.charisma {
      color: purple;
    }
  }
}
