.card .text .damage.thunder {
  color: #673c8a;
}
.card .text .damage.acid {
  color: #bbc00d;
}
.card .text .damage.fire {
  color: #cf5605;
}
.card .text .damage.psychic {
  color: #b482a5;
}
.card .text .damage.lightning {
  color: #3d6dc1;
}
.card .text .damage.poison {
  color: #a6c505;
}
.card .text .damage.frost {
  color: #65abb1;
}
.card .text .damage.force {
  color: #9e1c20;
}
.card .text .damage.radiant {
  color: #b98c07;
}
.card .text .damage.necrotic {
  color: #7eb461;
}
.card .text .damage.slashing,
.damage.piercing,
.damage.bludgeoning {
  color: #7a7877;
}
.card .text .advantage {
  color: #45a04b;
}
.card .text .disadvantage,
.card .text .disadvantage * {
  color: #ef8686;
}

.card .text .ability.strength {
  color: red;
}
.card .text .ability.dexterity {
  color: green;
}
.card .text .ability.constitution {
  color: orange;
}
.card .text .ability.intelligence {
  color: blue;
}
.card .text .ability.wisdom {
  color: #b0b015;
}
.card .text .ability.charisma {
  color: purple;
}
