@media print {
  .card.card-right {
    box-shadow: var(--color-background) 0 3px 0px 3px !important;
  }
}

.card.cardBlock.card-right {
  .backface .line,
  .b-lt,
  .b-rt,
  .b-lb,
  .b-rb,
  .body .b-lt:after,
  .body .b-rt:after,
  .body .b-lb:after,
  .body .b-rb:after,
  .body .b-lt:before,
  .body .b-rt:before,
  .body .b-lb:before,
  .body .b-rb:before {
    color: var(--color-backface) !important;
    border-color: var(--color-backface-border) !important;
  }
  .level-1,
  .level-2,
  .icon,
  .icon-bot,
  .icon-top {
    color: var(--color-backface-symbols) !important;
    border-color: var(--color-backface-symbols) !important;
  }
}
