body {
  font-family: "Segoe UI", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

#root {
  display: grid;
  grid-template:
    "navigation navigation"
    "sidebar cards";
}

.navigation {
  grid-area: navigation;
}

.sidebar {
  grid-area: sidebar;
}

.pages {
  grid-area: cards;
}
